In [2]:
print("soy mappy")

soy mappy

FUNDAMENTOS DE PYTHON

CONTENIDO DE LA PRIMERA CLASE
* TRABAJARÉ CON VARIABLES
* OPERADORES MATEMÁTICA
* OPERADORES DE COMPARACIÓN
* OPERADORES LÓGICOS
* OPERADORES CONDICIONALES

### Variables

In [3]:
name = "josefino" # cadena de caracteres / string

In [4]:
name

'josefino'

In [5]:
last_name = "fuenmayor"

In [6]:
last_name

'fuenmayor'

In [7]:
# vars asing
number_1 = 22
number_2 = 10
# principal operation
sum = number_1 + number_2
rest = number_1 - number_2
mult = number_1 * number_2
div = number_1 / number_2

In [8]:
# result of principal operation
sum
rest
mult
div
# results

2.2

In [9]:
sum

32

In [10]:
rest

12

In [11]:
mult

220

In [12]:
div

2.2

In [13]:
print("suma", sum)
print(f"resta {rest}")
print("multiplicación", mult)
print(f"división {div}")

suma 32
resta 12
multiplicación 220
división 2.2

TIPOS DE DATOS BASICOS
* tipo string es tipo cadena de caracter
* tipo int es tipo entero
* tipo float es tipo decimal

In [14]:
type(name)
type(sum)
type(div)

float

In [15]:
print(type(sum))

<class 'int'>

# Ingreso de datos por teclado

In [16]:
# vars asing
number_1 = input("ingrese el digito numero 1")
number_1 =  int(number_1)
number_2 = input("ingrese el digito numero 2")
number_2 =  int(number_2)
# principal operation
sum = number_1 + number_2
rest = number_1 - number_2
mult = number_1 * number_2
div = number_1 / number_2

In [17]:
name_1 = input("coloque su nombre")
print("hola", name_1)
type(name_1)

hola mappy

str

In [18]:
print("suma", sum)
print(f"resta {rest}")
print("multiplicación", mult)
print(f"división {div}")

suma 50
resta 10
multiplicación 600
división 1.5

In [19]:
# vars asing
number_1 = input("ingrese el digito numero 1")
number_1 =  float(number_1)
number_2 = input("ingrese el digito numero 2")
number_2 =  float(number_2)
# principal operation
sum = number_1 + number_2
rest = number_1 - number_2
mult = number_1 * number_2
div = number_1 / number_2

In [20]:
print("suma", sum)
print(f"resta {rest}")
print("multiplicación", mult)
print(f"división {div}")

suma 60.0
resta -20.0
multiplicación 800.0
división 0.5

# Nueva rama y celda de codigo para estudiar las listas

In [21]:
# listas
# strings
# int
# floats

list_1 = ["jose", "maria", "jesus", 30, 20, 1.2, 2.3]

In [22]:
print(list_1)

['jose', 'maria', 'jesus', 30, 20, 1.2, 2.3]

In [23]:
print(list_1[2])

jesus

In [24]:
print(list_1[-1])

2.3

In [25]:
print(list_1[0:3])

['jose', 'maria', 'jesus']

In [26]:
name_list = list_1[0:3] 
integers_list = list_1 [3:5]
float_list = list_1 [5:]

In [27]:
print

# metodos que se les aplica a las listas

In [28]:
float_list

[1.2, 2.3]

In [29]:
float_list.append(55.5)
float_list

[1.2, 2.3, 55.5]

In [30]:
integers_list.clear()

In [31]:
integers_list

[]

In [32]:
name_list_2 = name_list.copy()

In [33]:
name_list_2

['jose', 'maria', 'jesus']

In [34]:
name_list_2.append("mappy")

In [35]:
name_list_2

['jose', 'maria', 'jesus', 'mappy']

In [36]:
# contar cuantos elementos en la la lista
len(name_list_2)

4

### Condicionales

In [37]:
# sintaxis de un condicional simple
# condición if
# if condición:
     #operación
# condición 
# mayor que > , menor que < , mayor e igual >=,
# menor e igual <= , diferente a !=, igual a ==

In [38]:
day = input("dia de la semana")
if (day == "lunes"):
   print("hoy es lunes y voy a trabajar")

hoy es lunes y voy a trabajar

In [39]:
day

'lunes'

In [40]:
day = input("dia de la semana")
if (day == "lunes"):
   print("hoy es lunes y voy a trabajar")
else:
   print("hoy no es lunes y no iré a trabajar")

hoy no es lunes y no iré a trabajar

Operadores lógicos

In [41]:
day = input("dia de la semana")
momento_day = input("ingrese momento del dia mañ,tar,noc")
if (day == "lunes") and (momento_day == "noc"):
   print("hoy es lunes y voy a trabajar y cine 2x1")
else:
   print("hoy no es lunes, no iré a trabajar y no hay cine 2x1")

hoy no es lunes, no iré a trabajar y no hay cine 2x1

Tarea 1: Piedra Papel o Tijera : buscada y modificada

In [42]:
import random
print("Hi!, that was the play stone, paper or sissors")
opciones = ["stone", "paper", "sissors"]

while True:
    # la computadora elige una opción
    computadora = random.choice(opciones)
    
    # el usuario elige una opción
    usuario = input("write stone, paper or sissors: ").lower()
    print(f"The computer chose: {computadora}")
    print(f"You chose: {usuario}")

    # Comprueba si la opción del usuario es válida
    if usuario not in opciones:
        print("invalid option, write again.")
        continue
    
    # Comprueba quién ganó
    if usuario == "stone" and computadora == "sissors":
        print("you win! the stone hit the sissors.")
    elif usuario == "sissors" and computadora == "paper":
        print("you win! the sissors cut the paper.")
    elif usuario == "paper" and computadora == "stone":
        print("you win! teh paper cover the stone.")
    elif usuario == computadora:
        print("both tied!!!!")
    else:
        print("you loose! the computer chose", computadora)
  
    # Preguntar si el usuario quiere jugar de nuevo
    jugar_de_nuevo = input("¿Quieres jugar de nuevo? (s/n): ").lower()
    if jugar_de_nuevo != "s":
        break

print("¡bye!")

Hi!, that was the play stone, paper or sissors
The computer chose: paper
You chose: stone
you loose! the computer chose paper
¡bye!

In [43]:
list_1

['jose', 'maria', 'jesus', 30, 20, 1.2, 2.3]

TUPLA

In [ ]:
tupla_1 = (1,2,3,4,5)
tupla_2 = ('a','b','c','d','e')

´Diccionario

In [ ]:
dic_1 = {
    "luis" : 1234
    "pedro" : 5678
    "juan" : 9012
}

In [44]:
dict_2 = {
    'frutas' : ['manzanas', 'peras', 'guayaba'],
    'numeros' : [12,24, 38],
    'pesos' : [1.5,2, 3.4]
}

In [51]:
dict_2
dict_2 ['pesos']

[1.5, 2, 3.4]

Ciclos finitos con FOR

# FOR variabledeiteración IN secuencia
#     cuerpo del ciclo
# la variabledeiteración toma los valores de la # secuencia en orden secuencoa: cadena, lista, # # tupla, conjunto
#
# ejemplo
#
# for number in [1,2,3]: 
#     print (number)

In [53]:
for name in list_1: 
    print (name)

jose
maria
jesus
30
20
1.2
2.3

In [ ]:
for list_1 in [1,2,3]: 
    print (number)

In [54]:
for j in list_1: 
    print (j)

jose
maria
jesus
30
20
1.2
2.3

In [56]:
for name in list_1: 
    if name == "jose":
       print (name, " es el papá")
    else:
        print (name, "no es papá")

jose  es el papá
maria no es papá
jesus no es papá
30 no es papá
20 no es papá
1.2 no es papá
2.3 no es papá

Funciones

In [58]:
# syntaxis función
# para sumar dos números 
def suma_dos(number_1,number_2):
    """
    Esta función suma dos numeros y son enteros
    number_1: int
    number_2: int
    return: int
    """
    result = number_1 + number_2
    return  result

In [59]:
suma_dos(12,12)

24

In [62]:
# syntaxis función
# para restar dos números 
def resta_dos(number_1,number_2):
    """
    Esta función resta dos numeros y son enteros
    number_1: int
    number_2: int
    return: int
    """
    result = number_1 - number_2
    return  result

In [67]:
resta_dos(number_1=20,number_2=10)

10